

body {
    font-family: cursive;
    margin: 0;
    background-color: #f2f2f2;

  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* first page */
  .main-page{
    
    background-color: #000;
    font-size: larger;
    text-align: center;
    color: white;
    padding: 50px;
  }




  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
    
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover{
    background-color: #555;
  }
  
 
  @media screen and (max-width: 50px) {
    .column {
      width: 100%;
      display: block;
    }
  } 


  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .colum {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .colum, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .header{
      background-color: #000;
      margin-bottom: 5px;

  }
  .products{
    border: 0;
    color: #45a049;
    background-color: #000;
    cursor: pointer;
    width: 10%;    
}

.contact_us{
    border: 0;
    color: #45a049;
    background-color: #000;
    width: 10%;
    margin-bottom: 5px;
    cursor: pointer;
}

.about_us{
    border: 0;
    color: #45a049;
    background-color: #000;
    width: 10%;
    cursor: pointer;
    


}

.log_in{
    border: 0;
    color: #45a049;
    background-color: #000;
    width: 10%;
    cursor: pointer;
}